body {
  font-family: 'Arial', sans-serif; /* Замените на ваш шрифт */
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Основной цвет фона */
}

button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Анимация */
}

button:hover {
  background-color: #ddd;
  transform: scale(1.02); /* Анимация */
}

button:active {
  background-color: #bbb;
  transform: scale(0.98); /* Анимация */
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}