@import '../../styles/variables.css';

.word-row td {
  padding: var(--padding-small);
  border: 1px solid var(--border-color);
  vertical-align: middle; 
}

.word-row.editing td {
    background-color: var(--light-color); }

.word-input {
    padding: calc(var(--padding-small) / 2) var(--padding-small); 
}

.actions-cell {
    white-space: nowrap; 
    text-align: center;
}

.actions-cell button {
    margin: 0 var(--margin-small); 
    padding: calc(var(--padding-small) / 2) var(--padding-small); 
    font-size: var(--font-size-small);
}

.actions-cell button:first-child {
    margin-left: 0;
}
.actions-cell button:last-child {
    margin-right: 0;
}