@import '../../styles/variables.css';

.word-list-container {
  margin: var(--margin-large) auto;
  padding: var(--padding-large);
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 95%; 
  max-width: 800px;
  overflow-x: auto;
}

.word-list-container h2 {
    margin-top: 0;
    text-align: center;
    color: var(--dark-color);
}

.word-list-table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: var(--margin-medium);
}

.word-list-table th {
  text-align: left;
  padding: var(--padding-small);
  border: 1px solid var(--border-color);
  background-color: var(--light-color);
  font-weight: var(--font-weight-bold);
  white-space: nowrap; 
}

.word-list-empty {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--font-size-base);
}