@import '../../styles/variables.css';

.app-footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: var(--padding-medium);
  text-align: center;
  margin-top: var(--margin-large);
}

.app-footer p {
  margin: 0;
  font-size: var(--font-size-small);
}