.app-footer {
  background-color: var(--secondary-color);
  color: var(--text-light-color);
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 2.5); /* 8px 20px */
  text-align: center;
  font-size: var(--font-size-sm);
  margin-top: auto; /* Прижимает футер к низу, если контента мало */
}

.app-footer p {
  margin: 0;
}