@import './styles/variables.css';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота, чтобы футер был внизу */
}

.app-main-content {
  flex-grow: 1; /* Основной контент занимает все доступное место */
  padding: var(--padding-large);
  max-width: 1200px; /* Максимальная ширина контента */
  margin: 0 auto; /* Центрирование блока содержимого */
  width: 100%; /* Занимаем всю доступную ширину до max-width */
}

.app-main-content h2 {
    text-align: center;
    margin-bottom: var(--margin-large);
    color: var(--dark-color);
}

.card-section {
    margin-bottom: var(--margin-large);
}

.wordlist-section {
     margin-top: var(--margin-large);
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    margin: var(--margin-large) 0;
}
