.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Чтобы футер был внизу */
  overflow-x: hidden; /* Предотвращаем горизонтальный скролл, если контент шире viewport */
}

.app-main-content {
  flex: 1; /* Основной контент занимает доступное пространство */
  padding: calc(var(--spacing-unit) * 2.5); /* 20px */
  max-width: 960px; /* Ограничиваем максимальную ширину */
  margin: 0 auto; /* Центрируем */
  width: 100%; /* Занимает 100% доступной ширины (до max-width) */
  display: flex; /* Используем flexbox для центрирования CardList */
  flex-direction: column;
  align-items: center;
}

.no-words-message {
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--secondary-color);
    margin-top: calc(var(--spacing-unit) * 4);
}