@import '../../styles/variables.css';

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: var(--primary-color); 
  padding: var(--padding-medium);
  position: fixed; 
  top: 0; 
  right: 0;
  z-index: 1000; 
  box-shadow: var(--box-shadow); 
}

.navbar-logo {
  font-size: var(--font-size-large);
  color: white;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.navbar-links {
  display: flex; 
  gap: var(--margin-large); 
}

.navbar-links a {
  color: white; 
  text-decoration: none; 
  transition: color var(--transition-duration); 
}

.navbar-links a:hover {
  color: var(--light-color); 
}

.navbar-links a:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); 
}