@import '../../styles/variables.css';

.card-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-large);
  gap: var(--margin-large); 
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--margin-large);
}

.card-counter {
  font-size: var(--font-size-base);
  color: var(--dark-color);
}

.card-navigation {
  display: flex;
  gap: var(--margin-medium); 
  width: 100%; 
  justify-content: space-around; 
}

.card-navigation button {
    flex-grow: 1; 
    max-width: 120px; 
}

.no-words-message {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--font-size-base);
}

.card-navigation {
  display: flex;
  gap: var(--margin-medium); 
  width: 100%; 
  justify-content: space-around; 
}

.card-navigation button {
    flex-grow: 1; 
    max-width: 120px; 
}

.no-words-message {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--font-size-base);
}