@import '../../styles/variables.css';

.card-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-large);
  gap: var(--margin-large); /* Отступы между элементами */
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--margin-large);
}

.card-counter {
  font-size: var(--font-size-base);
  color: var(--dark-color);
}

.card-navigation {
  display: flex;
  gap: var(--margin-medium); /* Отступ между кнопками навигации */
  width: 100%; /* Чтобы кнопки занимали всю ширину контейнера навигации */
  justify-content: space-around; /* Распределение пространства между кнопками */
}

.card-navigation button {
    flex-grow: 1; /* Кнопки занимают равное пространство */
    max-width: 120px; /* Ограничение ширины кнопок */
}

.no-words-message {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--font-size-base);
}